<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">

    <title>The Current Events Emailer</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename = 'newsImages/favicon.ico')}}">

    <link rel = "stylesheet" href= "{{url_for('static', filename = 'newsCss/base.css')}}">


    <div class = "background">
      <style>
        body {
          background-repeat: no-repeat;
          background-size: cover;
          background-attachment: fixed;
          background-image:url({{url_for('static',filename='newsImages/news1.jpg')}});
        }
      </style>
    </div>



  <div class = "sidenav" id = "newSideNav">
    <a href="" class="active"> CEE </a>
    <a href="{{url_for('aboutPg')}}">About </a>
    <a href="{{url_for('questionsPg')}}">Questions</a>
    <a href="{{url_for('mainPg')}}">Getting Started</a>
    <a href="{{url_for('index')}}">Home</a>

    <div class = "icon" onclick="transitionX(this); expander();">
      <div class = "bar1"></div>
      <div class = "bar2"></div>
      <div class = "bar3"></div>
    </div>
    </a>
  </div>


  <script>
    function transitionX(x){
      x.classList.toggle("change");
    }

    function expander() {
        var x = document.getElementById("newSideNav");
        if (x.className === "sidenav") {
          x.className += " responsive";
        } else {
          x.className = "sidenav";
        }
    }

  </script>

  {% block head %}
  {% endblock %}

</head>

<body>
  {% block body %}
  {% endblock %}
</body>


<footer class="page-footer">
  <p>
    <small>Images from <a href="https://www.pexels.com/search/newspaper%20background/" target="_blank">Pexels.com</a>
    </small>
  </p>
  <p>
    <small>Made by Swimming7birdz.</a> </small>
  </p>
</footer>


</html>
